{% extends 'base.html.twig' %}

{% block body %}

    <br>
    <div>
        <div class="jumbotron">
            <h1 class="display-3">Bienvenue sur Bitcoin Price Trends</h1>
            <p class="lead">This is a simple application, allow the user to visualize the price trends of Bitcoin.
                <br>A company wants to create a simple web application to visualize the price trends of Bitcoin
            </p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{{ path('security_login')}}" role="button">Log in</a>
            </p>
        </div>
    </div>

{% endblock %}